body{
    background-color: aqua;
    background: linear-gradient(blue, white);
    background-repeat: no-repeat;
}
h1{
    color: brown;
    padding: 10px;
    border-style:inset;
    border-color: chartreuse;
    text-align: center;
    background-color: ivory;
} 
#bio{
    background: linear-gradient(green, rgb(255, 255, 255));
    
    float: left;
}
#ifo{
    float: right;
   
    text-indent: 120px;
    
}
.paragraphs{
    color: red;
    float: right;
    line-height: 5px;

}
#image{
    width: 300;
    height: 200;
}